/******** Color Palettes ********/
/** _colors.scss **/

// Color Palette
//
// This section describes base colors and typography
//
// Styleguide 1.0

// Primary color
//
// $primary-color - Primary Library Red color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$primary-color: #ED1C24;

// Secondary UI Color
//
// $secondary-color - secondary user interface color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.2

$secondary-color: #2799C5;

// Highlight Colors
//
// $highlight-dark-color - highlight dark color.
// $highlight-color - highlight color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.3

$highlight-dark-color: #FEE24A;
$highlight-color: #FFF0A1;

// Grays (Cool)
//
// $coolgray-dark-color - coolgray dark color.
// $coolgray-color - coolgray color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.4

$coolgray-dark-color: #837E77;
$coolgray-color: #A3A19E;

// Browse Colors
//
// $browse-color - browse color.
// $browse-dark-color - browse dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.5

$browse-dark-color: #BB1D12;
$browse-color: #E73621;

// Attend Colors
//
// $attend-dark-color - attend dark color.
// $attend-color - attend color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.6

$attend-dark-color: #52174F;
$attend-color: #72256D;

// Learn Colors
//
// $learn-dark-color - learn dark color.
// $learn-color - learn color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.7

$learn-dark-color: #437529;
$learn-color: #579B34;

// Research Colors
//
// $research-color - research color.
// $research-dark-color - research dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.8

$research-dark-color: #047074;
$research-color: #00989E;

// Find Us Colors
//
// $findus-color - find us color.
// $findus-dark-color - find us dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.9

$findus-dark-color: #595141;
$findus-color: #726958;

// Get Help Colors
//
// $gethelp-color - gethelp color.
// $gethelp-dark-color - gethelp dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.10

$gethelp-dark-color: #655C4C;
$gethelp-color: #89806F;

// Donate Colors 
//
// $donate-color - donate color.
// $donate-dark-color - donate dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.11

$donate-dark-color: #9E0B0B;
$donate-color: #CF1D1E;

// Search Colors
//
// $search-dark-color - search dark color.
// $search-color - search color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.12

$search-dark-color: #1980A9;
$search-color: #1DA1D4;

// Footer Colors
//
// $footer-color - footer color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.13

$footer-color: #54514A;

//

// Utility & General Purpose Colors
//
// $charcoal - slightly less black.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.14

$charcoal: #333333;

/**
 We need to define some basic colors:
*/ 

$black-color: #000000;
$white-color: #FFFFFF;
// $light-blue-color: #93cce2; 
.wrack {color: #93cce2}
.rar {color: #a59d8e}

/**/

.text-primary-primary {
  color: $primary-color;
}
.browse-text-dark {
  color: $browse-dark-color;
}
.text-browse {
  color: $browse-color;
}
.highlight-text-dark {
  color: $highlight-dark-color;
}
.text-highlight {
  color: $highlight-color;
}
.coolgray-text-dark {
  color: $coolgray-dark-color;
}
.text-coolgray {
  color: $coolgray-color;
}
.findus-text-dark {
  color: $findus-dark-color;
}
.text-findus {
  color: $findus-color;
}
.gethelp-text-dark {
  color: $gethelp-dark-color;
}
.text-gethelp {
  color: $gethelp-color;
}
.attend-text-dark {
  color: $attend-dark-color;
}
.text-attend {
  color: $attend-color;
}
.learn-text-dark {
  color: $learn-dark-color;
}
.text-learn {
  color: $learn-color;
}
.research-text-dark {
  color: $research-dark-color;
}
.text-research {
  color: $research-color;
}
.donate-text-dark {
  color: $donate-dark-color;
}
.text-donate {
  color: $donate-color;
}
.search-text-dark {
  color: $search-dark-color;
}
.text-search {
  color: $search-color;
}
