
.header{
  margin: 10px 10px 0 0;
  font-family: 'Kievit-Regular';
}
.header .eight, .header .four{
    height: 50px;
    display: flex;
    align-items:center;
    width: auto;
}
.header .four{
  justify-content: flex-end;
  padding-left: 10px;
}
.header .nypl {
  font-size: 1.75em;
  padding-left: 10px;
  color: black !important;
  text-decoration: none;
  display: none;
}

@media (min-width: 750px) {
  .header .nypl {
    display: block;
  }
}


.hero{
  background-color: #068A7F;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
  font-family: 'Kievit-Regular';
}
.hero-left{    
    padding-left: 10%;
    padding-top: 5%;
}
.hero-left h2{
  font-family:'MiloWeb';
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
.hero-left div{
  font-size: 1em;
}
.hero-right div{
  font-size: 1em;
}
/*
.about-hero{
  background-color: #009E91;
  margin-bottom: 30px;
}
*/
.hero-right .mask{
  border-radius: 50%;
  background-color: white;
  height: 280px;
  width: 280px;
  overflow: hidden;
  position: relative;
  margin: -20px 0 -20px 0;
  display: none;
}
.billi-logo{
  height: 280px;
  width: 280px;
  background-size: 100% auto;


}

@media (min-width: 750px) {
  .hero-right .mask{
    display: block;
  }
}


